body{
  background-image: url("parth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 10px;
  width: 5%
}
h1{
  color: #b088f9;
}
h3{
  color: #b088f9;
}
